.about-us__wrapper {
  max-width: 1190px;
  padding-left: 190px;
  padding-top: 36px;
}

.about-us__title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: $grey;
}

.about-us__paragraph {
  font-size: 16px;
  line-height: 22px;
  color: $grey;
}
