.feedback {
  min-height: 670px;
  background-color: $azure;
  background-image:
    url("../img/paper-airplane@1x.png"),
    url("../img/polygon.svg");
  background-repeat:
    no-repeat,
    no-repeat;
  background-position:
    calc(50% - 355px)  161px,
    calc(50% - 460px)  94px;
  background-size:
    auto,
    auto;

  @media (min-resolution: 2dppx) {
    background-image:
      url("../img/paper-airplane@2x.png"),
      url("../img/polygon.svg");
  }

  @media (max-width: $tablet-width) {
    background-image: none;
    min-height: 664px;
  }

  @media (max-width: $mobile-width) {
    min-height: 640px;
  }
}

.feedback__wrapper {
  padding-top: 61px;
  max-width: 1200px;
  display: flex;
  justify-content: flex-end;

  @media (max-width: $tablet-width) {
    justify-content: center;
    padding: 0;
    padding-top: 53px;
  }

  @media (max-width: $mobile-width) {
    padding: 0 15px;
    padding-top: 6px;
  }
}

.feedback__block {
  width: 570px;
  color: $basic_white;

  @media (max-width: $tablet-width) {
    width: 591px;
    margin-left: 6px;
  }

  @media (max-width: $mobile-width) {
    width: auto;
    margin-left: 0;
  }
}

.feedback__title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  margin-left: -4px;
  margin-bottom: 13px;

  @media (max-width: $tablet-width) {
    font-size: 32px;
    line-height: 45px;
    margin-bottom: 18px;
  }

  @media (max-width: $mobile-width) {
    font-size: 28px;
    line-height: 39px;
    margin-left: 0;
  }
}

.feedback__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 51px;

  @media (max-width: $tablet-width) {
    margin-top: 57px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 29px;
  }
}

.feedback__form input {
  width: 47.5%;
  height: 50px;
  border: none;
  background-color: rgba($basic_white, 0.1);
  margin-bottom: 40px;
  padding: 10px 16px;
  color: $basic_white;
  font-family: "PT Mono", "Courier New", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  @media (max-width: $mobile-width) {
    width: 100%;
    margin-bottom: 31px;
  }

  &::placeholder {
    color: $basic_white;
    font-family: "PT Mono", "Courier New", monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
  }
}

.feedback__form textarea {
  width: 100%;
  min-height: 154px;
  resize: none;
  border: none;
  background-color: rgba($basic_white, 0.1);
  margin-bottom: 44px;
  padding: 12px 16px;
  color: $basic_white;
  font-family: "PT Mono", "Courier New", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  @media (max-width: $tablet-width) {
    min-height: 163px;
  }

  @media (max-width: $mobile-width) {
    min-height: 104px;
    margin-bottom: 33px;
  }

  &::placeholder {
    color: $basic_white;
    font-family: "PT Mono", "Courier New", monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
  }
}

.feedback__form .feedback__consent {
  width: 0;
}

.feedback__consent + label {
  width: 47.5%;
  order: 1;
  padding: 8px 10px;
  padding-left: 41px;
  font-size: 14px;
  line-height: 16px;
  color: rgba($basic_white, 0.8);
  position: relative;

  @media (max-width: $mobile-width) {
    width: 100%;
    margin-left: -8px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 9px;
    left: 9px;
    width: 16px;
    height: 16px;
    border: 1px solid $basic_white;
  }
}

.feedback__consent:checked + label::before {
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  background-position: 3px 4px;
}

.feedback__button {
  width: 47.5%;
  height: 45px;
  border: 1px solid $basic_white;
  border-radius: 5px;
  background-color: transparent;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $basic_white;

  @media (max-width: $mobile-width) {
    width: 100%;
    margin-bottom: 23px;
  }
}
