.page-footer__wrapper {
  max-width: 1500px;
  padding: 0 39px;
  padding-top: 62px;
  padding-bottom: 17px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: $tablet-width) {
    padding: 0;
    padding-top: 17px;
    padding-bottom: 36px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 43px;
    padding-bottom: 0;
  }
}

.page-footer__block {
  margin-bottom: 46px;

  @media (max-width: $tablet-width) {
    width: 100%;
    padding: 0 22px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba($border, 0.2);
    margin-bottom: 34px;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }
}

.page-footer__logo {
  padding: 3px;
  display: flex;
  color: $logo_dark;
  margin-bottom: 50px;
  margin-right: 20px;
  text-decoration: none;

  &:hover .page-footer__logo-text,
  &:focus .page-footer__logo-text {
    color: $azure;
  }

  &:active {
    opacity: 0.6;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 21px;
  }

  @media (max-width: $mobile-width) {
    margin-right: 0;
    margin-bottom: 4px;
  }
}

.page-footer__logo-text {
  margin-left: 16px;
  margin-top: 6px;
}

.page-footer__logo-title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 27px;
  display: block;
}

.page-footer__logo-description {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: $grey_logo;
  letter-spacing: 0.9px;
}

.page-footer__date {
  display: none;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $bg_dark;
  opacity: 0.5;
  padding-top: 19px;
  padding-right: 4px;

  @media (max-width: $tablet-width) {
    display: block;
  }

  @media (max-width: $mobile-width) {
    padding-right: 0;
    margin-bottom: 18px;
  }
}

.page-footer__social {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  padding-left: 2px;

  @media (max-width: $tablet-width) {
    padding-top: 13px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 0;
    margin-bottom: 50px;
  }
}

.page-footer__social-item {
  margin-left: 16px;

  &:first-child {
    margin-left: 0;
  }

  & a {
    &:hover,
    &:focus {
      opacity: 0.5;
    }

    &:active {
      opacity: 1;
    }
  }
}

.page-footer__title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin: 0;
  margin-top: 4px;
  margin-left: 2px;
  margin-bottom: 25px;
  color: $bg_dark;
}

.page-footer__nav {
  margin-right: 162px;
  padding-right: 1px;

  @media (max-width: $tablet-width) {
    padding-left: 25px;
    margin-right: 22px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 13px;
    padding-bottom: 2px;
    padding-top: 25px;
    margin-right: 0;
    width: 100%;
    border-bottom: 1px solid rgba($border, 0.2);
  }
}

.page-footer__nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 120px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (max-width: $tablet-width) {
    max-height: none;
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 20px;
  }

  & a {
    text-decoration: none;
    font-size: 15px;
    line-height: 25px;
    color: $bg_dark;
    opacity: 0.5;
    margin-right: 75px;

    &:hover,
    &:focus {
      color: $azure;
    }

    &:active {
      opacity: 1;
    }
  }
}

.page-footer__office {
  display: flex;
  flex-direction: column;
  padding-right: 8px;

  @media (max-width: $tablet-width) {
    padding-right: 35px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 13px;
    padding-top: 24px;
    width: 100%;
  }

  & address,
  & a {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: $bg_dark;
    opacity: 0.5;
    text-decoration: none;
  }

  & a {
    &:hover,
    &:focus {
      color: $azure;
    }

    &:active {
      opacity: 1;
    }
  }

  & a:last-child {
    margin-bottom: 26px;
  }

  & address {
    @media (max-width: $mobile-width) {
      margin-top: 7px;
    }
  }
}

.page-footer__border {
  opacity: 0.2;
  background-color: $border;
  width: auto;
  height: 1px;
}

.page-footer__copyright {
  max-width: 1450px;
  min-height: 52px;
  margin: 0 auto;
  padding-top: 14px;
  padding-right: 20px;
  padding-left: 16px;
  padding-bottom: 10px;
  display: flex;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $bg_dark;
  opacity: 0.5;

  @media (max-width: $tablet-width) {
    padding-right: 24px;
    padding-left: 27px;
    padding-top: 21px;
    padding-bottom: 21px;

    & span:first-child,
    & span:nth-child(2) {
      display: none;
    }
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    align-items: center;
    padding-top: 28px;
  }

  & span {
    margin-right: 100px;

    @media (max-width: $mobile-width) {
      margin-right: 0;
      margin-bottom: 21px;
    }
  }

  & span:last-child {
    margin-left: auto;
    margin-right: 0;

    @media (max-width: $mobile-width) {
      margin-left: 0;
    }
  }
}

// accordoin

.page-footer__accordion {
  position: relative;
}

.page-footer__switch {
  display: none;

  @media (max-width: $mobile-width) {
    display: flex;
    position: absolute;
    top: 29px;
    right: 17px;
    width: 15px;
    height: 15px;
    background-color: transparent;
    border: none;
    padding: 0;
    overflow: visible;

    &::before {
      content: "";
      margin-top: 7px;
      width: 100%;
      height: 1px;
      background-color: $btn_grey;
    }

    &::after {
      content: "";
      position: absolute;
      left: 7px;
      width: 1px;
      height: 100%;
      background-color: $btn_grey;
      display: none;
    }
  }
}

.page-footer__accordion--close {
  & ul,
  & a,
  & address {
    @media (max-width: $mobile-width) {
      display: none;
    }
  }
}

.page-footer__accordion--close .page-footer__switch::after {
  display: block;
}

// no-js

.no-js .page-footer__switch {
  display: none;
}

.page-footer__accordion.no-js {
  & ul,
  & a,
  & address {
    @media (max-width: $mobile-width) {
      display: block;
    }
  }
}
